/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

:root {
    --primary: #212529;
    --secondary: #4E81AA;
    --tertiary: #aa4e4e;
}

body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.20s ease-in;
}

.theme.primary {
    background-color: var(--primary);

}



.theme.secondary {
    background-color: var(--secondary);

}

.theme.tertiary {
    background-color: var(--tertiary);

}

.valueContainer {
    padding: 15px 30px;
    font-size: 5rem;
    border-radius: 30px;
    background: lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}

.valueContainer>svg {
    vertical-align: baseline;
}

.actions-counter,
.theme-button {
    font: inherit;
    background-color: #f0f0f0;
    border: 0;
    color: #242424;
    border-radius: 0.5em;
    font-size: 2.35rem;
    padding: 0.375em 1em;
    font-weight: 600;
    text-shadow: 0 0.0625em 0 #fff;
    box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
        0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
        0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
    transition: 0.15s ease;
    cursor: pointer;
}

.actions-counter:active,
.theme-button:active {
    translate: 0 0.225em;
    box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
        0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
        0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
}

.actions-counter:hover {
    outline-color: rgb(65, 65, 65);
    outline-style: solid;
    text-shadow: none;
}

.btn-theme-primary {
    background-color: #212529;
}

.btn-theme-secondary {
    background-color: #4E81AA;
}

.btn-theme-tertiary {
    background-color: #aa4e4e;
}

input:focus {
    outline-color: rgb(65, 65, 65);

}



svg {
    align-self: center;
}